:root {
    --main-color: #17588a;
}
body {
    color: white;
}
#main-container {
    display: block;
    margin: 0 auto;
    width: 900px;
    height: 700px;
    background-color: var(--main-color);
    border-left: 5px solid rgb(183, 191, 223);
}
.actions-and-table-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

#actions {
border: solid green 0.1rem;
padding: 0.5rem;
margin: 0.5rem;
}

#table {
margin-left: 5vw;
padding: 0.3rem;
}

#table tbody tr td {
    width: 4rem;
    text-align: left;
}

.table-team-name {
    width: 6rem;
}

/* Form */
#team-form {
    display: flex;
    flex-flow: column nowrap;
}
input {
    width: 10rem;
    height: 1rem;
    background-color: rgb(209, 230, 230);
    margin: 10px;
    padding: 5px;
}
.action-button {
    height: 4vh;
    background-color: black;
    color: white;
    font-weight: 200;;
    border: none;
    border-radius: 14px;
}

#generate-matches-button {
    background-color: black;
    height: 4vh;
    color: white;
    font-weight: 200;
    border-radius: 14px;
}

#team-submit:hover {
    border: 2px solid white;
}

/* Matches */
#match-container {
    /* width:fit-content; */
    border: solid 2px orange;
    display: block;
    width: 14rem;
    height: 10rem;
    margin-top: 5rem;

}

.hidden {
    visibility: hidden;
}
.visible {
    visibility: visible;
}


